$font-family-base: 'Libre Baskerville', serif;
$font-size-base: 140%;
$line-height-base: 1.5;

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;

$wrapper-width: 1050px;

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;

$font-raleway: 'Raleway', sans-serif;